<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Helloooworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F8DB01D1E33B6CB002FE873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8DB0341E33B6CB002FE873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8DB03F1E33B6CB002FE873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
